* {
    
    padding: 0px ;
    margin: 0px;
    
}


h1  { 
    color: red ;
    margin: 2px;
    font-weight: lighter;
    font-family: Calibri, sans-serif;    
} 

.seccion {
    
}


.seccion h2 {
    color: green ;
    padding: 0px 0px 0px 0px;
    border: 0px ;
    margin: 2px ;
    font-weight: lighter;
    font-family: Calibri, sadns-serif;
}

.seccion-d {
    
}

.seccion-d p {color:gray;

}

.seccion-p p {color:gray;}

.seccion-o p {color:gray;}