* {
    
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px;
    font-family: "Open Sans", Calibri, sans-serif;
}

body {
    font-family: sans-serif;
    background: #537979;
    
}

h1  { 
    color: white;
    margin: 2px;
    font-weight: lighter;
    text-align: center;
} 

.seccion {
    width: 95%;
    max-width: 1000px; 
    margin: auto;
    background: white;
    border-radius: 10px;
    #padding: 20px;
    margin-bottom: 10px;
    
}

.seccion h2 {
    color: green ;
    padding: 20px;
    border: 0px ;
    #margin: 2px ;
    font-weight: lighter;
    text-align: center ;
    background: #0a0f0f;
    #border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    #border-bottom: 1px solid crimson;
}

.seccion h3 {
    color:darkgoldenrod ;
    padding: 5px;
    border: 0px ;
    margin: 2px ;
    font-weight: lighter;
    font-size: 14px;
    text-align: center ;
}


.inputs-container{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 30px ; #10 hacia arriba y 30 alos costados 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.inputs-container * {
    margin-bottom: 15px; 
    padding: 10px; 
    font-size: auto;
    border-radius: 1px;
    border: 1px solid darkgray;
}

.template {
    width: 100%;
    font-weight: bolder;
    
}

.input-100 {
    width: 100%;
}

.input-30 {
    width: 30%;
}

.text-100 {
    width: 100%; 

}

.button-proccess   {
    width: 100%;
    font-size: 1em;
    font-weight: lighter
        ;
}
